@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-family: 'Pretendard-Regular';
}

body,
html {
    color: black;
    font-size: 16px;
    height: 100vh;
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-family: 'Pretendard-Regular';
}

a {
    text-decoration: none;
}

ul, 
li {
    list-style: none;
}

/* 스크롤 디자인 설정 */
body::-webkit-scrollbar {
    width: 8px;
    /* 스크롤바 너비 */
  }
  
  body::-webkit-scrollbar-thumb {
    height: 30%;
    /* 스크롤바 길이 */
    background: #a5a5a5;
    /* 스크롤바 색상 */
    border-radius: 10px;
  }
  
  body::-webkit-scrollbar-track {
    background-color: #1b1b1b;
    /*스크롤바 배경 색상*/
  }

.container {
    width: 100%;
    height: 100vh;
}

.main {
    height: 100%;
    display: flex;
}

.main-left {
    position: relative;

}

.main-left,
.main-right {
    flex: 1;
}

.main-left-logo {
    position: absolute;
    margin: 22px 0 0 50px;
    font-weight: 400;
    cursor: pointer;
    color: black;
    font-size: 24px;
}

.main-left-color {
    color: rgb(24, 119, 242);
    font-weight: 400;
}

.main-right {
    background-color: rgb(24, 119, 242);
}

.main-session {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 80px;
}

.main-left-desc {
    font-size: 18px;
    margin-bottom: 30px;
}

.loginBtn {
    width: 380px;
    height: 70px;
    border-radius: 12px;
    border:  2px solid rgba(240,240,240);
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 200;
    transition: 0.4s;
    position: relative;
    background-color: transparent;
}

.loginBtn-box>svg{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 33px;
    display: flex;
    margin: auto 0px;
}

.loginBtn-box>span {
    text-align: center;
    font-size: 16px;
}

.loginBtn:hover {
    background-color: rgb(24, 119, 242);
    color: #eee;
    border: none;
}

.logoutBtn-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(82, 82, 82);
    width: 380px;
    margin-top: 30px;
}

.logoutBtn-box>button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
}

.logout-Line {
    width: 38%;
    height: 1px;
    background-color: rgb(212, 212, 212);
}

.logoutBtn-box>span {
    box-sizing: border-box;
    flex-shrink: 0;
    background: transparent;
    cursor: pointer;
}

.main-right-desc {
    color: #eee;
}

.main-right-desc>p {
    text-align: center;
    font-size: 22px ;
    margin-bottom: 18px;
}

.main-right-desc>span {
    display: block;
    text-align: center;
    font-size: 22px;
}


#mainImg {
    width: 26vw;
    height: 28vw;
    min-width: 391px;
    min-height: 424px;
}

/* 최대넓이 1920 */
@media (max-width: 1920px) {
    .main-left-logo {
        /* position: absolute; */
        margin: 40px 0 0 55px;
        font-size: 32px;
        font-weight: 500;
        cursor: pointer;
    }

    .main-right-desc>p {
        text-align: center;
        font-size: 28px;
        margin-bottom: 18px;
    }

    .main-left-desc {
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    .loginBtn-box>span {
        text-align: center;
        font-size: 18px;
    }

    .loginBtn {
        width: 396px;
        height: 70px;
    }

    .logoutBtn-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: rgb(82, 82, 82);
        width: 396px;
        margin-top: 30px;
    }
}

/* 최대 */
@media (max-width: 1280px) {
    .main-left-logo {
        /* position: absolute; */
        margin: 20px 0 0 55px;
        font-size: 28px;
        font-weight: 500;
        cursor: pointer;
    }
    .main-left-desc {
        font-size: 16px;
        margin-bottom: 18px;
    }
    .loginBtn-box>span {
        font-size: 14px;
    }
    
    .loginBtn {
        width: 279px;
        height: 55px;
    }
    .logoutBtn-box {
        width: 279px;
        margin-top: 21px;
    }

    .logoutBtn-box>button {
        font-size: 12px;
    }

    #mainImg {
        width: 352px;
        height: 354px;
        min-height: 0;
        min-width: 0;
    }

    .main-right-desc>p {
        font-size: 20px;
        margin-bottom: 14px;
    }
    .main-right-desc>span {
        font-size: 14px;

    }
}