.footer {
    width: 100%;
    height: 200px;
    padding: 38px 0;
    background: rgb(248, 249, 250);
    color: #777;
    font-size: 14px;
}

.footersection {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1281px;
    height: 100%;
}

.footer-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

