@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.navBar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 76px;
    background: white;
    border-bottom: 1px solid #ebebeb;
}

.navLogo {
    float: left;
    display: flex;
    align-items: center;
    height: 76px;
}


.navUser {
    display: flex;
    align-items: center;
    margin-right: 50px;
    color: black;
    float: right;
}

.userName {
    font-weight: 600;
}

.userEmail {
    color: #717171;
    font-size: 13px;
    margin-top: 4px;
}

#Header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 283px;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.board {
    height: 60%;
    margin: 0 30px;
}

.HeaderNav>ul {
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: baseline;
    background-color: transparent;
}

.HeaderNav>ul>li>a {
    font-size: 18px;
    color: rgb(115, 115, 115);
}

.navLogo_txt {
    margin-left: 50px;
    font-weight: 500;
    color: black;
    font-size: 29px;
}

.navLogo_color {
    color: rgb(24, 119, 242);
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}


/* dropdown */
nav {
    flex: 3;
    height: 60%;
    margin: 33px 35px 0 50px;
}

.menu li {
    line-height: 40px;
    cursor: pointer;
}

.menu li label {
    font-size: 17px;
    cursor: pointer;
}

.menuicon {
    float: left;
}

.menuicon-svg {
    font-size: 15px;
    margin-top: 8px;
    color: rgb(115, 115, 115);
}

.all {
    float: left;
    margin-left: 8px;
    display: inline;
    color: rgb(115, 115, 115);
    cursor: pointer;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

.downIcon {
    display: inline;
    font-size: 15px;
    float: right;
    margin-top: 12px;
    padding: 0 10px;
    color: rgb(115, 115, 115);
    transition: transform 0.3s;
}

.dropdown {
    position: static;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    float: left;
    text-align: left;
}

.dropdown-circle {
    font-size: 9px;
    margin-right: 13px;
    color: rgb(115, 115, 115);
}

.dropdown li {
    line-height: 30px;
    margin: 22px 0 22px 21px;
    color: rgb(115, 115, 115);
}

.dropdown li a {
    font-size: 17px;
    color: rgb(115, 115, 115);
}

input {
    display: none;
}

[id^=btn]:checked + ul {
    max-height: 500px; 
    transition: max-height 0.5s ease;
}

.rotate {
    transform: rotate(-180deg);
}

.darkMode {
    display: flex;
    margin: 30px 23px;
}

.LogoutSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10%;
    padding: 45px 35px 45px 50px;
    border-top: 2px solid #ebebeb;
}

.darkMode>button {
    border: none;
    border-radius: 8px;
    width: 50%;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    letter-spacing : 1px;
}

.light {
    background-color: rgb(24, 119, 242);
    color: #Eee;
    margin-right: 8px;
}

.lightbox,
.darkbox {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.lightbox>p,
.darkbox>p {
    display: inline;
    margin-left: 5px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.logout-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.logout-btn>span {
    margin-left: 8px;
    color: rgb(115, 115, 115);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 8px;
}