.nowriting {
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nwt-section {
    text-align: center;
}

.nwt>p {
    font-size: 3rem;
}

.nwt2 {
    margin-bottom: 30px;
}

.nwt3 {
    background-color: white;
    border-radius: 18px;
}

.nwtBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-radius: 18px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: rgb(24, 119, 242);
    color: white;
    border: none;
    opacity: 0.7;
    transition: 0.2s;
}

.nwtBtn:hover {
    opacity: 1;
}