.prgupd {
  /* flex-direction: column;
  align-items: center;
  gap: 40px;
  max-width: 800px;
  width: 100%;
  margin-bottom: 45px; */
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 18px 0px;
  cursor: default;
  border-bottom: 1px solid #ebebeb;
}

.progress-txt {
  font-size: 18px;
  text-align: left;
  padding: 15px 20px;
  background-color: aliceblue;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.prg-run {
  margin-right: 20px;
  font-size: 18px;
}

.progress-txt>p {
  font-weight: 600;
  font-size: 14px;
  color: rgb(24, 119, 242);
  letter-spacing: 1px;
}

.progress-container {
  width: 100%;
  transform: translateX(0);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
}

.progress-container .steps {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.steps .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 104px;
  color: #999;
  font-size: 15px;
  font-weight: 500;
  border-radius: 26px;
  background: #fff;
  border: 3px solid #e0e0e0;
  transition: all 200ms ease;
  transition-delay: 0s;
  outline: none;
  cursor: default;
}

.steps .circle.active {
  transition-delay: 100ms;
  border-color: rgb(24, 119, 242);
  color: rgb(24, 119, 242);
}

.steps .progress-bar {
  position: absolute;
  height: 3px;
  width: 100%;
  background: #e0e0e0;
  z-index: -1;
}

.progress-bar .indicator {
  position: absolute;
  height: 100%;
  width: 0%;
  background: rgb(24, 119, 242);
  transition: all 300ms ease;
}
.prgBtnsection {
  width: 24px;
  height: 100%;
}
.prgBtn {
  background: white;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  color: rgb(24, 119, 242);
  transition: all 200ms linear;
}

.prgBtn:active {
  transform: scale(0.97);
}

.prgBtn:disabled {
  color: #98989a !important;
  cursor: not-allowed;
  display: none;
}

#progressDataHide,
.hideId {
  display: none;
}