.mainSection {
    min-height: 100%;
    margin: auto;
    max-width: 1281px;
}



.commonBanner {
    border-radius: 34px;
    height: 345px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.commonBanner-desc {
    line-height: 1.8;

}

.hand {
    display: inline-block;
    animation: shake 1s infinite;
    width: 20px;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(5deg);
    }
}

/* 양옆으로 움직임 */
/* @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px) rotate(5deg); }
    50% { transform: translateX(5px) rotate(-5deg); }
    75% { transform: translateX(-5px) rotate(5deg); }
    100% { transform: translateX(0); }
} */

.commonBanner-desc-1 {
    font-weight: 600;
    font-size: 1.8rem;
}

.commonBanner-desc-2 {
    font-size: 1.3rem;
}

.commonBanner-img {
    width: 300px;
    height: 300px;
}


#jobImg {
    width: 100%;
    height: 100%;
}

.currentlysection {
    margin: 70px 0;
}

.currently-text p,
.prg-text p {
    font-size: 1.5rem;
    font-weight: 600;
}



.random {

    border: 1px solid red;
    position: fixed;
    left: 1.5rem;
    bottom: 1.5rem;
    width: 4.5rem;
    height: 4.5rem;
}

.currently-list {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.prgsection {
    margin-bottom: 70px;
}

.document {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 309px;
    height: 160px;
    border: 2px solid #ced4da;
    padding: 30px;
    border-radius: 22px;
    cursor: pointer;
}

.prgDocument {
    transition: transform 0.3s ease;
}

.prgDocument:hover {
    transform: scale(1.05);
}

.document-q {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
    overflow: hidden;

}

.document-date {
    text-align: right;
    color: rgb(134, 142, 150);
    font-size: 14px;
}

.progresssection {
    height: 100%;
}

.labelbtn {
    width: 150px;
    height: 38px;
    padding: 0px 22px;
    border-radius: 36px;
    border: 1px solid #ced4da;
    background-color: white;
    margin-right: 12px;
    cursor: pointer;
}

.prgLabel {
    margin-top: 30px;
}

.labelbtn.active {
    border-color: rgb(24, 119, 242);
    color: rgb(24, 119, 242);
}

.pagination-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.pagination-buttons>button {
    padding: 8px 12px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    min-width: 32px;
    height: 32px;
}

.labelbtn>p {
    font-weight: 600;
}

.page-btn.active {
    /* 클릭된 버튼 스타일 */
    background-color: #007bff;
    color: #fff;
}

.noElement {
    display: flex;
    align-items: center;
    /* 수직 가운데 정렬 */
    justify-content: center;
    /* 수평 가운데 정렬 */
    height: 300px;
    width: 100%;
    border: 2px solid #ced4da;
    border-radius: 22px;
}

.noElement>p {
    font-size: 20px;
    font-weight: 500;
}

/* 브라우저 최대 너비 1919px이하 */
@media (max-width: 1920px) {
    /* 
    .mainLogo,
    .dashboard {
        width: 100%;
        max-width: 1420px;
    } */
}

@media (max-width: 1396px) {
    .mainFlex {
        overflow-x: hidden;
    }

}

/* 브라우저 최대 너비 900px이하 */
@media (max-width: 900px) {
    .mainActivity {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
        height: auto;
        margin: 0 auto;
    }

    .ma2 {
        margin-left: 0px;
    }
}

@media (max-width: 680px) {
    .mainFlex {
        gap: 50px;
    }

    .mainDesc-txt>p {
        font-size: 18px;
    }

    .ma1,
    .ma2 {
        height: 147px;
        padding: 24px 25px;
    }

    .ma1-q {
        margin-top: 23px;
        font-size: 16px;
    }

    .ma1-category {
        font-size: 14px;
    }

    .ma2-2-desc1>p {
        font-size: 16px;
    }

    .count>p {
        font-size: 16px;
    }

    .countNum>span {
        font-size: 12px;
    }

    .dashboard {
        width: 100%;
        max-width: 455px;
        margin: 0 auto;

    }

    .dshFlex {
        display: block;
    }

    .mainLogo {
        width: 100%;
        max-width: 455px;
    }

    .progressCmt {
        background-color: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 0px;
        height: auto;
        padding: 19px 0px;
    }

    .progress {
        margin-bottom: 0;
    }

    .progress>p {
        display: none;
    }

    .progress-date {
        display: none;
    }

    .progress-q {
        font-size: 16px;
    }

}