.writeSection {
    margin: 0px auto;
    padding: 45px 10px;
    width: 100%;
    max-width: 750px;
    min-height: 100vh;
}

.updateSection {
    margin: 0px auto;
    padding: 30px 10px;
    width: 100%;
    max-width: 750px;
    min-height: 100vh;
}

.write {
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 100vh;
    width: 100%;
    max-width: 752px;
    margin: 0px auto;
}

.write-q>textarea {
    display: block;
    border: none;
    outline: 0px;
    resize: none;

    overflow-y: hidden;
    /* 세로 스크롤바를 감춤 */
    width: 100%;
    min-height: 1.75rem;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.35;
}

.write-keyword>p {
    color: rgb(160, 156, 156);
    display: inline-block;
    margin-right: 20px;
}

[id*="keyword"] {
    display: inline-block;
    width: 100px;
    height: 28px;
    border: 2px solid #ebebeb;
    border-radius: 8px;
    padding: 8px;
    font-size: 15px;
    margin-bottom: 5px;
    margin-right: 8px;
}

[id*="keyword"]:focus {
    outline: 2px solid rgb(24, 119, 242);
}
.write-q{
    height: auto;
}
.write-q>textarea::placeholder,
.write-a>textarea::placeholder {
    color: rgb(160, 156, 156);
}

.write-a>textarea {
    border: 1px solid #ebebeb;
    border-radius: 8px;
    outline: 0px;
    resize: none;
    width: 100%;
    height: 100%;
    max-height: 100%;
    min-height: 480px;
    padding: 20px;
    font-size: 1rem;
}

.submitsection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.submitsection>button {
    width: 100%;
    height: 54px;
    /* background-color: white; */
    border: 1px solid #ebebeb;
    border-radius: 8px;
    font-size: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
}

.submitBtn {
    background-color: rgb(96, 165, 250);
    /* background-color: aliceblue; */
    color: #eee;
}

.submitBtn:hover:enabled {
    /* :enabled로 활성화된 상태일 때만 hover 효과 적용 */
    background-color: rgb(24, 119, 242);
}

.submitBtn:disabled {
    /* 질문, 답변란 입력값 없을때 submit 금지 */
    opacity: 0.4;
    cursor: not-allowed;
    background-color: rgb(24, 119, 242);
    /* 원래 색상으로 유지(hover 색상변화 금지) */
}